!!!  
%html  
  %head  
  %title My Sinatra Website  
  %body    
  %h2 Admin form  
  %form(action='/apply' method='POST')
    %br ID:
    %input(type='text' name='id')
    %p
    %br Table name:
    %input(type='text' name='table')
    %p
    %br Name of the song:
    %input(type='text' name='track')
    %p
    %input(type='submit')
