-# coding: UTF-8
%script{src:"/javascripts/application.js", type:"text/javascript"}
%div{:id => "ArtistTableContainer"}
<!-- An area to show selected rows (for demonstration) -->
%br
%button#DeleteAllButton Удалить все выбранные
