-# coding: UTF-8
:javascript
  $(document).ready(function () {
      //Localization
      russianMessagesTable = {
        serverCommunicationError: 'Возникла непредвиденная ошибка при коммуникации с сервером',
        loadingMessage: 'Загрузка данных...',
        noDataAvailable: 'Данные недоступны!',
        addNewRecord: '+ Добавить новый столик',
        editRecord: 'Редактировать запись',
        areYouSure: 'Вы уверены?',
        deleteConfirmation: 'This record will be deleted. Are you sure?',
        save: 'Сохранить',
        saving: 'Saving',
        cancel: 'Отмена',
        deleteText: 'Удалить',
        deleting: 'Удаление',
        error: 'Ошибка',
        close: 'Закрыть',
        cannotLoadOptionsFor: 'Can not load options for field {0}',
        pagingInfo: 'Showing {0} to {1} of {2} records',
        canNotDeletedRecords: 'Can not deleted {0} of {1} records!',
        deleteProggress: 'Deleted {0} of {1} records, processing...'
      };
      
      russianMessagesArtist = {
        serverCommunicationError: 'An error occured while communicating to the server.',
        loadingMessage: 'Загрузка данных...',
        noDataAvailable: 'Данные недоступны!',
        addNewRecord: '+ Добавить нового исполнителя',
        editRecord: 'Редактировать запись',
        areYouSure: 'Вы уверены?',
        deleteConfirmation: 'This record will be deleted. Are you sure?',
        save: 'Сохранить',
        saving: 'Saving',
        cancel: 'Отмена',
        deleteText: 'Удалить',
        deleting: 'Удаление',
        error: 'Ошибка',
        close: 'Закрыть',
        cannotLoadOptionsFor: 'Can not load options for field {0}',
        pagingInfo: 'Showing {0} to {1} of {2} records',
        canNotDeletedRecords: 'Can not deleted {0} of {1} records!',
        deleteProggress: 'Deleted {0} of {1} records, processing...'
      };

      $('#ArtistTableContainer').jtable({
          messages: russianMessagesArtist, //Localization
          title: 'Список исполнителей',
          actions: {
              listAction: '/ArtistList',
              createAction: '/CreateArtist',
              updateAction: '/UpdateArtist',
              deleteAction: '/DeleteArtist'
          },
          fields: {
              id: {
                  key: true,
                  create: false,
                  edit: false,
                  list: false
              },
              status: {
                  title: 'Статус',
                  width: '10%',
                  type: 'radiobutton',
                  options: { 'new': 'New', 'open': 'Open', 'closed': 'Closed', 'invalid': 'Invalid' },
                  defaultValue: 'new'
              },
              table_id: {
                  title: 'Столик',
                  width: '40%',
                  options: '/GetTableOptions'
              },
              record_date: {
                  title: 'Record date',
                  width: '30%',
                  type: 'date',
                  create: false,
                  edit: false,
                  displayFormat: 'yy-mm-dd'
              }
          }
      });

      $('#ArtistTableContainer').jtable('load');
  });

%div{:id => "ArtistTableContainer"}