!!!  
%html  
  %head  
  %meta{charset: "utf-8"}
  %script{type:"text/javascript",src:"/javascripts/jquery.js"}
  %script{type:"text/javascript",src:"/javascripts/application.js"}

  %link{href:"/css/styles.css", rel:"stylesheet"}
  %title Karaoke electronic display  
  %body  
    #content
      %div{:id => 'table-begins'}
        %table{:class => "center", :id => "karaoke"}
          %tr
            %th #
            %th TABLE
            %th SONG  
          %tr
            %td 1
            %td PAPA
            %td Meladze - Can't live without you
          %tr
            %td 2
            %td BEGEMOT
            %td Eminem - Shut up!    
    :javascript
      update();
        
