!!!  
%html  
  %head  
  %script{type:"text/javascript",src:"/javascripts/jquery.js"}
  %script{type:"text/javascript",src:"/javascripts/application.js"}
  %link(rel="stylesheet" href="css/styles.css")  
    %title Karaoke bar electronic display  
  %body  
    #content  
      %div{:id => 'server-name'}
        :javascript
          update();
