-# coding: UTF-8
!!!  
%html  
  %head  
  %meta{charset: "utf-8"}
  %script{type:"text/javascript",src:"/javascripts/jquery-1.7.2.min.js"}
  %script{type:"text/javascript",src:"/javascripts/jquery-ui-1.8.22.custom.min.js"}
  %script{type:"text/javascript",src:"/javascripts/application.js"}

  %link{href:"/css/styles.css", rel:"stylesheet"}

  :javascript

    //TODO: implement this
    function recalculateIndexes()
    {
      $('#karaoke > tbody tr').each(function() {
        if (!this.rowIndex) return; // skip first row
        var index = this.cells[1].innerHTML;
        console.log(index);
      });
    }

    function updateExistingRow(json_data) {
      var obj = JSON.parse(json_data);
      id = obj.record.id;
      index = 0;
      table = obj.record.table_name;
      track = obj.record.song_name;
      
      $('#row_'+id).fadeOut("slow", function(){
        /// Find current row index
        var $tr = $(this).closest('tr');
        var myRow = $tr.index();
        //// end
        var new_row = $('<tr id=row_'+id+'><td class=hidden_id>'+id+'</td><td>'+(myRow+1)+'</td><td><img src=/images/icons/mic_ico.png border=0 width=45% height=40%></td><td>'+table+'</td><td>'+track+'</td></tr>');
        var div = $("#row_"+id).hide();
        $(this).replaceWith(new_row);
        $('#row_'+id).fadeIn("slow");
        highlight_first_row();
      });
    }

    function deleteExistingRow(json_data) {
      var obj = JSON.parse(json_data);
      id = obj.record.id;

      $('#row_'+id).children('td, th').animate({ padding: 0 }).wrapInner('<div />').children().slideUp("normal", function(){ $(this).remove();});

      //FIXME: this doesn't work yet...
      highlight_first_row();    
      recalculateIndexes();
    }

    function addNewRow(json_data) {

    }

    // Support for events streaming
    $(function() {
      var eventSource = new EventSource('/stream');

      eventSource.addEventListener('open', function() {
        console.log("Connection opened");
    }, false);

    // An event without a type came in
    eventSource.addEventListener('message', function(event) {
        var stockData = event.data;
        console.log("Server says:"+ stockData);
    }, false);
    eventSource.addEventListener('delete', function(event) {
        var stockData = event.data;
        console.log("Server delete says:"+ stockData);
        deleteExistingRow(stockData);
    }, false);
    eventSource.addEventListener('update', function(event) {
        var stockData = event.data;
        console.log("Server update says:"+ stockData);
        updateExistingRow(stockData);
    }, false);
    eventSource.addEventListener('create', function(event) {
        var stockData = event.data;
        console.log("Server create says:"+ stockData);
    }, false);
    eventSource.addEventListener('error', function(e) {
      if (e.eventPhase == EventSource.CLOSED) {
        console.log("Connection closed");
      }
    }, false);
    });

  %title Электронное табло караоке
  %body  
    #content
      %div{:id => 'table-begins'}
        %table{:class => "center", :id => "karaoke"}
          %thead
            %tr
              %th{:class => "hidden_id"}
              %th{:class => "number_column"} #
              %th{:class => "status_column"}
              %th{:class => "table_column"} СТОЛИК
              %th{:class => "song_column"} ПЕСНЯ
          %tbody
            %tr{:id => "row_1"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_2"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_3"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_4"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_5"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_6"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_7"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_8"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_9"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
            %tr{:id => "row_10"}
              %td{:id => "col_0", :class => "hidden_id"} 0
              %td{:id => "col_1"}
              %td{:id => "col_2"}
              %td{:id => "col_3"}
              %td{:id => "col_4"}
      %div{:id => "logo"}   
        %img{:src => "/images/logos/logo_big.png", :width =>"25%" , :height =>"20%",:class => "bottom-right"} 
    :javascript
      update();
